body {
    background-color: white;
    color: black;
    padding: 40px;
    font-family: 'Arial';
    text-align: center;
    font-size: 20px;
}

img {
    border-radius: 50%;
    padding: 5px;
}

hr {
    display: block;
    position: relative;
    padding: 0;
    margin: 8px auto;
    height: 0;
    width: 100%;
    max-height: 0;
    font-size: 1px;
    line-height: 0;
    clear: both;
    border: none;
    border-top: 1px solid #aaaaaa;
    border-bottom: 1px solid #ffffff;
}

button {
    font-family: "Arial";
    border: none;
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    display: inline-block; 
    background-color: lightcyan;
    transition-duration: 0.3s;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-right: 5px;
    margin-left: 5px;
}

button:hover {
    background-color: lightseagreen;
    color: white;
}


#header {
    display:flex;
    margin: 10px;
    padding: 5px;
    vertical-align: middle;
}

.alignleft {
    width: 15%;
    text-align: left;
    float: left;
}

.aligncenter {
    width: 70%;
    text-align: center;
    font-family: 'Arial';
    font-size: 40px;
}
.alignright {
    width: 15%;
    text-align: right;
}

#post {
    text-align: left;
}
